<!DOCTYPE html>
<html>
    <head>
        <title>Flask testi</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ url_for('static', filename='socket.io.js') }}"  crossorigin="anonymous"></script> 
        <script type="text/javascript" charset="utf-8">
            laiteId="wwwasiakas"
            const socket = io();
            socket.on( 'connect', function( msg ) {
                console.log( msg )
                console.log("yhdistetty");
                console.log("laite: "+laiteId);
                socket.emit('client_connect', {'nickname': laiteId, 'message':  'liittyi'});
            })
        
    
            socket.on( 'server_message', function( msg ) {
                console.log( msg )
             })
             
            socket.on( 'server_ping', function( msg ) {
                console.log( "ping" )
                socket.emit('client_pong', {'nickname': eva, 'message':  'pong'});
             })
    
            socket.on( 'elem_arvot', function( msg ) { //antaa arvoja useamman kerrallaan, esim lämpötilat ks main.py #LAMPO#
                json=JSON.parse(msg);
                console.log("elem_arvot! "+json)
                for (it in json.elementit){
                    console.log(json.elementit[it].elementti + ' -> ' + json.elementit[it].arvo);
                    if (document.getElementById(json.elementit[it].elementti)){
                        console.log("asetetaan "+json.elementit[it].elementti+" "+json.elementit[it].arvo);
                        document.getElementById(json.elementit[it].elementti).innerHTML = json.elementit[it].arvo;
                        if (json.elementit[it].vari){
                            document.getElementById(json.elementit[it].elementti).style.color = json.elementit[it].vari; 
                        }
                    }
                    else{
                        console.log("elementtiä "+json.elementit[it].elementti+" ei ole!");
                    }
                }
            })

            function sendMessage(m){
                    socket.emit('client_message', {'nickname': eva, 'message':  'hello---'+m});
                    //document.getElementById('message-input').value = '';
            }
            
            function klik(m){
                    socket.emit('client_message', {'nickname': laiteId, 'klik': m});
                    //document.getElementById('message-input').value = '';
            }

            function sendTeksti(){
                var txt = document.getElementById('kentta').value;
                document.getElementById('kentta').value="";
                document.getElementById('yksi').innerHTML="lahetetty: "+txt;
                    socket.emit('client_message', {'nickname': eva, 'message':  'hello---'+txt});
            }

            function sendExec(komento){ //lähettää suoritettavan komennon. main.py:ssä pakko varmistaa komennon laillisuus, jos on intran ulkopuolella!
                    socket.emit('client_exec', {'komento': eva, 'komento':  komento});
            }

        </script>
    <style>.tausta {height: 100vh; width: 100vw; font-size: 20px; font-family: Times; padding-top: 2px; margin: 0px; background-color: blue; padding-left: 10px; text-align: left; col
or:white; }
            a {color: white;}
    
    </style>
    </head>
    <body id="body" class="tausta">
        kwh: <span id="kwh">ss</span><br>
        <!--pv: <span id="status_pihavalo">ss</span><br> -->
        <!-- <a href="#" onclick="klik('viestiraspille');">Klikkaa viesti raspille</a> -->
        <br>
    </body>
</html>
