[Unit]
Description=Sahkomittari
After=network.target

[Service]
ExecStart=/opt/sahkomittari/raspisahkomittari.py
WorkingDirecty=/tmp
#StandardOutput=file:/var/log/sahkomittari-client-std.log
#StandardError=file:/var/log/sahkomittari-client-err.log
Restart=always
User=root

[Install]
WantedBy=multi-user.target
