[Unit]
Description=Sahkomittari
After=network.target

[Service]
ExecStart=/opt/sahkomittari/raspisahkomittari.py
WorkingDirecty=/tmp
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
