[Unit]
Description=Sahkomittari-WS_selaimille
After=network.target

[Service]
ExecStart=/opt/sahkomittari-server/sahkomittari-ws-selaimille.py
WorkingDirecty=/tmp
StandardOutput=file:/var/log/sahkomittari-server-ws-std.log
StandardError=file:/var/log/sahkomittari-server-es-err.log
Restart=always
User=root

[Install]
WantedBy=multi-user.target
