[Unit]
Description=Sahkomittari
After=network.target

[Service]
ExecStart=/opt/sahkomittari-server/sahkomittari-server.py
WorkingDirecty=/tmp
#StandardOutput=file:/var/log/sahkomittari-server-std.log
#StandardError=file:/var/log/sahkomittari-server-err.log
Restart=always
User=root

[Install]
WantedBy=multi-user.target
